@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed'
);
$font-family:"Roboto Condensed";
$font-size: 40px;
$padding: 100px;

$fontSizeStandart: 16px;
$fontSizeBig: $fontSizeStandart*7;

@mixin bgc(){
    background-color: rgb(194, 21, 185); 
    height: 60px;
}
@mixin position($justifyContent, $alignItems){
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}
@mixin fontSize($fontSize) {
    font-size: $fontSize;
}
body{background-color: pink;
    font-family: $font-family;
    font-size: $font-size;
}


.wrapper { max-width: 250px; background-color: lightblue;
    h1 {color: white; padding: $padding; @include bgc; @include position(center, flex-end); @include fontSize($fontSizeBig)}
    h2 {color: blue; position: relative; @include position(flex-start, flex-end);}
    a {text-decoration: none; @include bgc;;
    &:hover{color:brown;}
    }
}
.sampleClass{
    &__block{color: yellow}
    }
.sampleClass__block{
    @include position(flex-end, flex-start);
}

.box {background-color: lightblue; padding: $padding;}
.box-header { color: fuchsia; @include bgc; @include position(flex-end, flex-start)}

button {border: 1px solid red; color: white; padding: $padding; @include bgc; @include position(flex-start, flex-end);}
